@model IEnumerable<Product>

<div class="container">
    <div class="row pb-3">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100 border-0 shadow product-card">

                    <!-- Product Image -->
                    <div class="position-relative overflow-hidden p-3 pb-0 rounded ">
                        <img src="@product.ImageUrl"
                             class="card-img-top img-fluid product-img"
                              object-fit:cover;" />
                    </div>

                    <!-- Card Body -->
                    <div class="card-body  d-flex flex-column text-center">

                        <h6 class="text-muted mb-1">@product.Author</h6>

                        <h5 class="card-title fw-bold text-dark">
                            @product.Title
                        </h5>

                        <p class="card-text text-decoration-line-through small ">List Price: 
                            $@product.ListPrice
                        </p>
                        <p class="card-text text-secondary  fw-medium ">
                            As low as:
                            $@product.Price
                        </p>

                        <div class="d-grid">
                            <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-dark rounded-pill">
                                View Details
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>